#background-container {
	width: 100vw;
	height 100vh;
	background-image: url("./img/lightmode.webp");
	background-size: cover;
	cursor: pointer; /* change cursor to indicate clickable area */
}
body {
	bacground-image: url('./img/lightmode.webp');
	background-size: 100% 100%;
	background-attachment: fixed;
}
